/* CSS for Elmar Klausmeier's blog
   09-Aug-2021: Initial revision
   25-Aug-2021: Added transformed anchor a
   27-Jun-2022: dark/light switcher, see https://ihuoma.hashnode.dev/darklight-mode-switcher
   11-Jul-2022: p+ul+ol same font
   09-Aug-2022: fixed <a...> on tablets, removed commented-out stuff
   28-May-2023: centered content, added background color
*/

:root { --bg-color:#fffff8; --bgAcolor:white; color:black; --h1Color:DarkBlue; --thColor:LightBlue; --nthChild:LightGray; --klmwidth:46rem; }
.dark-mode { background-color:#22160B; color:white; --bgAcolor:black; --h1Color:LightBlue; --thColor:DarkBlue; --nthChild:Orange; }
body {
	background-color: var(--bg-color);
	font-family:ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
	margin: auto;
	max-width: var(--klmwidth);
}
article, aside { background-color: var(--bgAcolor) }

a { color:inherit }
a:hover { background-color:sandybrown }


img[alt=Photo] { width:var(--klmwidth) }

img { border-radius:8px }
blockquote { font-style:italic; padding-left:0.4rem; border-left:2px solid #ccc }
td { border: 1px solid Black; border-collapse:collapse; padding:0.3rem 0.5rem 0.3rem 0.5rem }
th { border: 1px solid Black; background-color:var(--thColor); padding:0.3rem 0.5rem 0.3rem 0.5rem }
tr:nth-child(even) { background-color:var(--nthChild); }


@media screen and (min-width:50rem) {
	/*article, aside { margin-left:3rem; width:46rem }*/
	h1 { font-size:3em; color:var(--h1Color) }
	h2 { font-size:2.7em; color:var(--h1Color) }
	h3 { font-size:2em; color:var(--h1Color) }
	p { line-height:1.7; font-size:1.3rem }
	blockquote { line-height:1.5; font-size:1.3rem }
	ul, ol { line-height:1.5; font-size:1.3rem }
	li { margin-bottom:0.6rem }
	pre { color:#e2e8f0; background-color:#2d3748; border-radius:0.4rem; overflow-x:auto; padding:1.4rem }
	pre code { color:#e2e8f0; line-height:1.8; font-size:1.1rem; font-weight:400; }
	code[class*="language-"], pre[class*="language-"] { line-height:1.5; font-size:1.15rem }
}
@media screen and (max-width:50rem) {
	article, aside { margin-left:0.3rem }
	h1 { font-size:2.2em; color:var(--h1Color) }
	h2 { font-size:1.7em; color:var(--h1Color) }
	h3 { font-size:1.2em; color:var(--h1Color) }
	p { line-height:1.5; font-size:1.0rem }
	ul, ol { line-height:1.4; font-size:1.0rem }
	li { margin-bottom:0.4rem }
	pre { color:#e2e8f0; background-color:#2d3748; border-radius:0.4rem; overflow-x:auto }
	pre code { color:#e2e8f0; line-height:1.3; font-size:1em }
}

.dimmedColor { color:Gray }
footer { font-family:sans-serif; color:Gray }
.chartarea { height:400px; width:600px }

/* Copied from TailwindCSS 2.0 typography.min.css */
code { color:inherit; font-weight:600; font-size:inherit }
code::before { content:"`" }
code::after { content:"`" }
pre code::before { content:"" }
pre code::after{ content:"" }


nav { border-radius:8px }
/* Copied from W.S.Toh: https://code-boxx.com/simple-responsive-pure-css-hamburger-menu */
#hamnav {	/* [ON BIG SCREENS] (A) WRAPPER */
	width: var(--klmwidth);
	background: Lightgray;
	/* Optional */
	position: sticky;
	top: 0;
}

#hamitems { display: flex; }	/* (B) HORIZONTAL MENU ITEMS */
#hamitems a {
	flex-grow: 2;
	/*flex-basis: 0;*/
	padding: 12px;
	/*color: white;*/
	text-decoration: none;
	margin-left: 0rem;
	text-align: left;
	font-size:1.6rem;
}
#hamitems a:hover { background: Sandybrown; }

#hamnav label, #hamburger { display:none; }	/* (C) HIDE HAMBURGER */

@media screen and (max-width: 49rem){	/* [ON SMALL SCREENS] */
	#hamitems a {	/* (A) BREAK INTO VERTICAL MENU */
		box-sizing: border-box;
		display: block;
		/*width: 100%;*/
		border-top: 1px solid #333;
	}
	#hamnav label {	/* (B) SHOW HAMBURGER ICON */
		display: inline-block;
		color: white;
		background: DarkGreen;	/*#a02620;*/
		font-style: normal;
		font-size: 1.2em;
		padding: 10px;
	}
	#hamitems { display: none; }	/* (C) TOGGLE SHOW/HIDE MENU */
	#hamnav input:checked ~ #hamitems { display: block; }
}



